body{
	color:#fff;
	font-size:100pt;
}
.section1{
	width:45%;
	float:left;
	height:100vh;
	border-right: 1vw solid #0bc9bf; 
    box-sizing: border-box;
    margin:0;
    padding:0;	
}
.section2{
	width:45%;
	float:left;
	height:100vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}
button {
    float:left;
    box-sizing: border-box;
    width: 10%;
    margin-top: 50vh;
}